<div class="count-strip">
    <div class="count-item">
        <div class="count-item-count">100</div>
        <div>lessons</div>
    </div>
    <div class="count-item">
          <div class="count-item-count">72</div>
          <div>students</div>
    </div>
    <div class="count-item">
          <div class="count-item-count">85%</div>
          <div>Pass</div>
    </div>
  </div>


  <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  
