<div class="select-container">
    <div class="select-header">
        <div class="select-title">
          <div>{{content_type  | titlecase}}</div>

         
        </div>
        <div class="select-close-actions">
              <mat-icon *ngIf="view==='detail'" (click)="toggleEdit()">edit</mat-icon>
              <mat-icon *ngIf="view==='edit'" (click)="toggleEdit()">check</mat-icon>
              <mat-icon (click)="close()">close</mat-icon>
        </div>
    
    </div>
    <div class="select-content">
 
       <div class="select-content-list">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">

              <td mat-cell *matCellDef="let element"> 
                
                <div class="content-item">
                  <div class="content-item-select" *ngIf="view==='edit'">
                    <mat-checkbox></mat-checkbox>
                  </div>
                  <div class="content-item-icon" (click)="openPreview()" >
                    <img *ngIf="content_type==='notes'" class="content-item-icon-png" src="../../assets/icons/pdf-icon-1.png">
                  </div>
                  <div class="content-item-details">
                     <div (click)="openPreview()" class="content-item-details-middle">
                       {{element.title}} </div>
                     <div class="content-item-details-bottom">{{element.mime_type}} {{element.timestamp}} <span *ngIf="element.author"> | by</span> {{element.author}}</div>
                  </div>
                  <div *ngIf="view==='edit'" class="content-item-actions">
                    <mat-icon *ngIf="content_type !=='dependencies'">delete</mat-icon>
                    <div style="font-size: 0.6rem;">{{element.size}} </div>
                  </div> 
                </div>

             
              
              </td>
            </ng-container>
          

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
       </div>
    </div>
    <div class="select-footer">
        <div class="select-submit-actions">
          <div *ngIf="content_type !=='applications'">
            <button *ngIf="view ==='edit'" mat-raised-button>Upload New</button> 
          </div>
          <div class="new-application-section" *ngIf="content_type==='applications'&&view==='edit'">
            <div style="flex-grow: 1;">
              <input type="text" placeholder="new application" />
            </div>
             <div class="new-application-actions">
               <mat-icon>close</mat-icon>
               <mat-icon>check</mat-icon>
             </div>
          </div>
         
        <app-search (filtered) = "filter($event)"></app-search>
        </div>
    </div>
</div>


<app-preview *ngIf="view==='preview'" (onClose)="closePreview()"></app-preview>
