<div style="height:100%">

    <mat-vertical-stepper class="stepper" [linear]="isLinear" #stepper>
        <mat-step>
         
            <ng-template matStepLabel >
              <div class="step-title">
                <div class="step-title-text"> Detail</div>
                <mat-icon  (click)="openEdit()">edit</mat-icon>
            
              </div>
  
            </ng-template>

            <div>
                <input *ngIf="view==='edit'" type="file" (change)="fileChangeEvent($event)" />
                <div *ngIf="cropping && view==='edit'">
                    <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="8 / 11"
                        [resizeToWidth]="256"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>
                    <img [src]="croppedImage" />
                </div>
            
            </div>
            
            <div *ngIf="view==='read'">
                <img class="currillum-cover" [src]="cover_image"/>
            </div>
            
            <div class="details-form-container">
                <form class="example-form" [formGroup]="detailsForm" (submit)="update()">
                    <mat-form-field class="full-field-width">
                      <input matInput placeholder="Title" formControlName="title" >
                    </mat-form-field>
            
                    <mat-form-field class="full-field-width">
                        <input matInput placeholder="Level" formControlName="level" >
                      </mat-form-field>
                    <mat-form-field class="full-field-width">
                        <input matInput placeholder="Course Code" formControlName="course_code" >
                      </mat-form-field>
            
                      <mat-form-field class="full-field-width">
                        <input matInput placeholder="Duration" formControlName="duration" >
                      </mat-form-field>
                    <mat-form-field class="full-field-width">
                      <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>
            <div>
                <button *ngIf="view==='edit'" mat-raised-button type="submit">Save</button>
            </div>
                 
                </form>
            </div>
            
              
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
       
        </mat-step>
        <mat-step style="overflow-x: scroll;" >
         
            <ng-template matStepLabel>
              <div class="step-title">
                <div class="step-title-text"> Topics</div>
                <mat-icon  routerLinkActive="router-link-active" >add</mat-icon>
            
              </div>
              
            </ng-template>
            <div style="margin: 0px -30px 0px -22px; overflow-x: scroll;">
              <!-- <app-topics [curricula_id]="curricula_id"></app-topics> -->
              <router-outlet></router-outlet>
            </div>
       
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
       
        </mat-step>

        <mat-step >
         
          <ng-template matStepLabel>
            <div class="step-title">
              <div class="step-title-text"> Key Terms</div>
              <mat-icon>add</mat-icon>
            </div>
          </ng-template>
         <app-tutors></app-tutors>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
     
      </mat-step>

      <mat-step >
         
        <ng-template matStepLabel>
          <div class="step-title">
            <div class="step-title-text"> Practicals</div>
            <mat-icon>add</mat-icon>
          </div>
        </ng-template>
       <app-tutors></app-tutors>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
   
    </mat-step>

    <mat-step >
         
      <ng-template matStepLabel>
        <div class="step-title">
          <div class="step-title-text"> Fomulas</div>
          <mat-icon>add</mat-icon>
        </div>
      </ng-template>
     <app-tutors></app-tutors>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
 
  </mat-step>

        <mat-step >
         
            <ng-template matStepLabel>
              <div class="step-title">
                <div class="step-title-text"> Tutors</div>
                <mat-icon>add</mat-icon>
              </div>
            </ng-template>
           <app-tutors></app-tutors>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
       
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
</div>
     
      
