<div class="" style="height: 400px;width: 1000px; overflow: scroll;">
  <tree-root  #tree [options]="options" [nodes]="nodes">
    <ng-template style="border: 1px solid teal;" #treeNodeTemplate let-node let-index="index">
     
      <div class="topic-header">
        <div class="topic-title">{{ node.data.name }}</div>
        <div class="topic-actions" >
          <span *ngIf="current_edit !== node.data.id" (click)="openEdit(node.data)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
          <span *ngIf="current_edit === node.data.id" (click)="closeEdit(node.data)">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </span>
        </div>
      </div>
    
      <div *ngIf="current_edit === node.data.id" class="topic-edit-template" >
        <div>
          <mat-form-field class="full-field-width">
            <input matInput placeholder="Title" [(ngModel)]="current_topic_name" autocomplete="off">
          </mat-form-field>
       
        </div>
      
        <div class="topic-edit-content">
          <div class="topic-edit-content-item" (click)="openContent('4QNDgi2keLzExIosMTeC','intro')" >
            <div class="topic-edit-content-title">
               Intro
            </div>
            <div class="topic-edit-content-icon">
               <mat-icon>videocam</mat-icon>
            </div>
            <div class="topic-edit-content-footer">
  
            </div>
          </div>

          <div class="topic-edit-content-item"  (click)="openContent('4QNDgi2keLzExIosMTeC','lesson')"  >
            <div class="topic-edit-content-title">
                Lesson
            </div>
            <div class="topic-edit-content-icon" >
               <mat-icon>videocam</mat-icon>
            </div>
          </div>

          <div class="topic-edit-content-item"  (click)="openContent('4QNDgi2keLzExIosMTeC','notes')"  >
            <div class="topic-edit-content-title">
                Notes
            </div>
            <div class="topic-edit-content-icon">
               <mat-icon>notes</mat-icon>
            </div>
            <div class="topic-edit-content-footer">
  
            </div>
          </div>

        </div>

        <div class="topic-quiz-section">
           <div class="topic-quiz-header">
             <div style="flex-grow: 1;">Quiz Contexts</div>
             <div>
               <button mat-button (click)="openQuiz('new')">
                 <mat-icon>add</mat-icon>add
               </button>
             </div>
           </div>
           
           <div class="topic-quiz-content">
               <div *ngFor="let item of quiz_contexts" class="topic-quiz-context">
                  <div (click)="openQuiz(node.data.id,item.id)" >{{item.number}}. {{item.context}}</div>  
               </div>

       <div class="topic-pass-rate-section">
        <div class="topic-pass-rate" routerLinkActive="router-link-active" >PassRate</div>
   
     
    
       
      </div>
           </div>
      </div>
       
        <div>
          <div><button (click)="selectContent('dependencies')" mat-button>Dependancies</button><button (click)="selectContent('applications')" mat-button>Applications</button></div>
       </div>


      </div>
  
    </ng-template>
  </tree-root>
</div>

<router-outlet  *ngIf="show_modal"></router-outlet>