<div class="gragh-title">STATS</div>
<div class="count-strip">
 <div class="count-item"  style="flex-grow: 1;">
      <div class="count-item-count">100</div>
      <div>Pass</div>
  </div>
  <div class="count-item" style="flex-grow: 1;">
        <div class="count-item-count">100</div>
        <div>Total</div>
  </div>
  <div class="count-item">
      
          <div style="display: flex;">
            <div style="width: 60px;">Male</div>
            <div>80</div>
          </div>  
          <div style="display: flex;">
          <div style="width: 60px;">Female</div>
             <div>20</div>
        </div>
  </div>
</div>

<div *ngIf="current_curriculum.id==='all'">
  <div>
    <div class="gragh-title">CDG<span class="graph-title-desc">(Curriculumn Distrubution Graph)</span></div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
       
      
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>

  <div style="display: block;">
    <div class="gragh-title">OPG<span class="graph-title-desc">(Overral Perfomance Graph)</span></div>
          <canvas baseChart width="400" height="400"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                     
                   ></canvas>
  </div>
</div>
<!-- <div>
  <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
  <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
  <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
  <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
  <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
</div> -->



<div style="display: block;" *ngIf="current_curriculum.id !=='all'">
  <div class="gragh-title">CAG<span class="graph-title-desc">(Curriculum Activity Graph)</span></div>
        <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                   
                 ></canvas>
</div>

<!-- <div *ngIf="current_curriculum.id ==='all'" style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
         
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div> -->

