<div class="preview-container">
    <div class="preview-header">
        <div class="preview-title">
            Preview {{type}}
        </div>
        <div class="preview-close-actions">
            <mat-icon (click)="close()">close</mat-icon>
        </div>
    
    </div>
    <div class="preview-content" (click)="toggleZoom()">
        <pdf-viewer *ngIf="type==='notes'" class="preview-item" 
        [src]="pdfSrc"
        [original-size]="true"
        [fit-to-page]="true"
        [zoom]="zoom"
        ></pdf-viewer>
        <mat-video *ngIf="type==='lesson'" src="/../../assets/content/Oxygen.mp4"></mat-video>

    </div>
 
</div>
